@media screen and (max-width: 920px) {
    nav {
        flex-direction: column;
    }

    header {
        height: 150px;
    }

    .logo {
        padding: 10px 0 20px 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0 20px;
        height: 30px;
    }

    .searchbox {
        margin: 0 0 0 5px;
        display: block;
    }

    .slider {
        height: 30vh;
    }

    .card-item {
       width: 150px;
    }
}

@media screen and (max-width: 1500px) {
    .img1 {
        width: 70vw;
    }
    .img2 {
        width: 70vw;
    }
    .img3 {
        width: 70vw;
    }
    .img4 {
        width: 70vw;
    }
    .img5 {
        width: 70vw;
    }
}