@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Sriracha&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    background-color: var(--main-bg-color);
    font-family: "Baloo 2", sans-serif;
}

nav {
    display: flex;
}

.logo {
    margin: auto 20px auto 20px;
}

nav ul {
    font-size: 20px;
    height: 82px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: auto 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: auto 20px;
}

nav ul li a:hover {
    font-weight: bolder;
}

.searchbox {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.searchbox input {
    width: 280px;
    height: 20px;
    border-radius: 3px;
    padding: 0 10px;
    margin: 2px 0px 2px;
}

.searchbox button {
    font-family: "Baloo 2", sans-serif;
}

.container {
    min-height: calc(100vh - 82px - 10vh);
}

.slider {
    margin: auto;
    background: aqua;
    overflow: hidden;
    height: 60vh;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.img1 {
    transform: translate(59vw);
    /*62*/
    animation: slide1 20s 3s infinite reverse;
}

.img2 {
    transform: translate(-15vw);
    /*81*/
    animation: slide2 20s 3s infinite reverse;
}

.img3 {
    transform: translate(0vw);
    /*-61*/
    animation: slide3 20s 3s infinite reverse;
}

.img4 {
    transform: translate(-160vw);
    /*-61*/
    animation: slide4 20s 3s infinite reverse;
}

.img5 {
    transform: translate(-233vw);
    /*-61*/
    animation: slide5 20s 3s infinite reverse;
}

@keyframes slide1 {
    0% {
        transform: translate(50vw);
    }

    25% {
        transform: translate(50vw);
    }

    50% {
        transform: translate(146vw);
    }

    75% {
        transform: translate(240vw);
    }

    100% {
        transform: translate(240vw);
    }
}

@keyframes slide2 {
    0% {
        transform: translate(-20vw);
    }

    25% {
        transform: translate(73vw);
    }

    50% {
        transform: translate(165vw);
    }

    75% {
        transform: translate(165vw);
    }

    100% {
        transform: translate(160vw);
    }
}

@keyframes slide3 {
    0% {
        transform: translate(0vw);
    }

    25% {
        transform: translate(95vw);
    }

    50% {
        transform: translate(95vw);
    }

    75% {
        transform: translate(95vw);
    }

    100% {
        transform: translate(95vw);
    }
}

@keyframes slide4 {
    0% {
        transform: translate(-170vw);
    }

    25% {
        transform: translate(-170vw);
    }

    50% {
        transform: translate(-170vw);
    }

    75% {
        transform: translate(-70vw);
    }

    100% {
        transform: translate(20vw);
    }
}

@keyframes slide5 {
    0% {
        transform: translate(-230vw);
    }

    25% {
        transform: translate(-240vw);
    }

    50% {
        transform: translate(-240vw);
    }

    75% {
        transform: translate(-240vw);
    }

    100% {
        transform: translate(-140vw);
    }
}

.cards {
    display: inline-flex;
    /* overflow: hidden; */
}

.card-1 {
    width: 95vw;
    padding: 0px 0 10px 0;
    overflow: scroll;
}

.container h2 {
    font-family: "Ubuntu", sans-serif;
    margin: 80px 0 15px 35px;
}

.card-2 {
    width: 95vw;
    padding: 0px 0 10px 0;
    overflow: scroll;
}

.card-3 {
    width: 95vw;
    padding: 0px 0 10px 0;
    overflow: scroll;
}

.description {
    font-family: "Ubuntu", sans-serif;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    overflow: hidden;
}

footer {
    background: var(--main-bg-color);
    color: white;
    height: 10vh;
    font-family: "Baloo 2", sans-serif;
}